<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.2.0" targetFramework="net45" />
  <package id="Fody" version="2.2.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework.zh-Hans" version="2.2.2" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.7.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="Npgsql" version="4.0.3" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="Unity" version="5.8.6" targetFramework="net40" />
  <package id="Zq.SQLBuilder" version="1.1.0.7" targetFramework="net45" />
</packages>